<!--The content below is only a placeholder and can be replaced.-->
<!--<h1>Dashboard Admin</h1>
<app-films-component></app-films-component>
<app-actors-component></app-actors-component>-->
<!--<nav>
  <a routerLink="/home">home</a>
  <a routerLink="/users">user</a>
  <a routerLink="/parent">parent</a>
</nav>

<router-outlet></router-outlet>

<app-user-form></app-user-form>

<app-area></app-area>

<app-events></app-events>
-->

<!--
<nav>
  <a routerLink="/List">List des Annonces</a>
  <a routerLink="/estimation">estimation</a>
</nav>
<router-outlet></router-outlet>
-->

<!--<input type="button" (click)="showTicket()" value="add new ticket">

<app-list-tickets [hidden]="hide"></app-list-tickets>-->
<!--
<h1>Les articles du jour</h1>
<form>
<label>veuillez....</label>
<input type="text" name="nbrArticle" #ccomponant (keyup)="onChange(ccomponant.value)">
</form>
<app-page [listeArticles]="listArticle" [nbArticles]="nbreArticle"></app-page>
-->
<app-parties></app-parties>
************************************************
<app-doctor></app-doctor>
